<?xml version="1.0" encoding="utf-8"?>
<cruise xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="cruise-config.xsd" schemaVersion="93">
  <server commandRepositoryLocation="default">
    <elastic>
      <profiles>
        <profile id="test" pluginId="cd.go.contrib.elastic-agent.docker">
          <property>
            <key>Image</key>
            <value>gocd/gocd-agent-alpine-3.5:v17.8.0</value>
          </property>
          <property>
            <key>Command</key>
            <value>/docker-entrypoint.sh</value>
          </property>
          <property>
            <key>Environment</key>
          </property>
        </profile>
      </profiles>
    </elastic>
  </server>
  <config-repos>
    <config-repo plugin="yaml.config.plugin">
      <git url="https://github.com/akshaykarle/gocd-yaml-config-example.git" />
    </config-repo>
  </config-repos>
  <pipelines group="defaultGroup">
    <pipeline name="test">
      <materials>
        <git url="https://github.com/akshaykarle/gocd-docker.git" />
      </materials>
      <stage name="defaultStage">
        <jobs>
          <job name="defaultJob" elasticProfileId="test">
            <tasks>
              <exec command="ls" />
            </tasks>
          </job>
        </jobs>
      </stage>
    </pipeline>
  </pipelines>
</cruise>
